# **Puntos por goles en campeonato**

Cada equipo juega contra todos los demás equipos y los goles anotados en cada encuentro han sido almacenados en una matriz nxn como se indica en la tabla ejemplo:

![foto enunciado.jpeg]()

El equipo 1 marco 3 goles al equipo 2,1 gol al equipo 3, etc.

El equipo 2 marco 1 gol al equipo 1,3 goles al equipo 3, etc.

Lea la matriz y determine cuantos puntos tiene cada equipo. Los puntos asignados son: empate 1, triunfo 3 , derrota 0.

Se adjunta la matriz en python para el ejercicio en forma de un arreglo de 5×5:

In [ ]:
import numpy as np

In [ ]:
goles = np.array(
       [[0, 3, 1, 2, 1],
        [1, 0, 3, 2, 3],
        [0, 2, 0, 1, 1],
        [1, 0, 2, 0, 1],
        [3, 4, 1, 2, 0]] )
#indices son los equipos

In [ ]:
tamano = np.shape(goles)#devuelve una tupla con los elementos por eje en este caso los equipos
n = tamano[0]#tamano en la filas 
m = tamano[1]#tamano en las columnas 
triunfos = np.zeros(shape=(n,m),dtype=int)#se crea un array de ceros del mismo tamano 
ttriunfos = np.zeros(n,dtype=int)#se crea un arreglo de una dimension de la cantidad de equipos

In [ ]:
#calculamos los triunfos
i = 0
while not(i>=n):#mientras i no sea igual o mayor al tamano de las filas 
    j = 0
    while not(j>=m):#mientras que j no sea igual al tamano de las columnas 
        if (goles[i,j] > goles[j,i]):#estamos comparando los partidos y llenando nuestra matriz de 0
            triunfos[i,j] = 1
            triunfos[j,i] = 0
        j = j + 1
    i = i + 1

In [ ]:
#calculamos total de triunfos 
i = 0
while not(i>=n):#mientras i no sea igual o mayor al tamano de las filas 
    j = 0
    while not(j>=m):#mientras que j no sea igual al tamano de las columnas 
        ttriunfos[i] = ttriunfos[i] + triunfos[i,j]#calcula el total de triunfos por equipo
        j = j + 1
    i = i + 1

In [ ]:
#calculamos empates
empates = np.zeros(shape=(n,m),dtype=int)#creamos una matriz de ceros donde llenarermos los empates
tempates = np.zeros(n,dtype=int)#calculamos un arreglo de una dimension con la cantidad de equipos 
i = 0
while not(i>=n):#mientras i no sea igual o mayor al tamano de las filas 
    j = 0
    while not(j>=m):#mientras que j no sea igual al tamano de las columnas 
        if (goles[i,j] == goles[j,i]) and (i!=j):#verificamos  en la matriz de goles si  en un partido jugado tienen el mismo resultado
            empates[i,j] = 1#llenan la matriz de empates
            empates[j,i] = 1
        j = j + 1
    i = i + 1

In [ ]:
#calculamos total de empates
i = 0
while not(i>=n):
    j = 0
    while not(j>=m):
        tempates[i] = tempates[i] + empates[i,j]#calculan el total de empates por equipo 
        j = j + 1
    i = i + 1

In [ ]:
#calculamos las derrotas
#como van a tener 4 partidos colocamos la cantidad de equipos menos 1 que seria la cantidad de partidos jugados
#le restamos los trienfos y empates obtenidos y obtenemos el total de derrotas 
derrotas = (n-1)*np.ones(n,dtype=int)
derrotas = derrotas - ttriunfos - tempates

In [ ]:
#calculamos puntos totales
puntos_triunfos = ttriunfos*3
puntos_empates  = tempates*1
puntos = puntos_triunfos+puntos_empates

In [ ]:
print(triunfos)
print(' triunfos por equipo: ')
print(ttriunfos)
print(' empates por equipo:')
print(tempates)
print(' derrotas por equipo:')
print(derrotas)
print('puntos por equipo:')
print(puntos)

[[0 1 1 1 0]
 [0 0 1 1 0]
 [0 0 0 0 0]
 [0 0 1 0 0]
 [1 1 0 1 0]]
 triunfos por equipo:
[3 2 0 1 3]
 empates por equipo:
[0 0 1 0 1]
 derrotas por equipo:
[1 2 3 3 0]
puntos por equipo:
[ 9  6  1  3 10]

# **crear una funcion que dada un array de una dimension ,hacer un resumen estadistico de las edades ,verificar que el array sea de una dimension caso contrario entregar error.**

In [ ]:
def get_array_info(input_array):
    if input_array.ndim > 1:
        print("ERROR, EL ARRAY NO DEBE TENER MAS DE UNA DIMENSION ")
    else :
        print(f"cantidad de elementos del array {input_array.shape[0]}")
        print(f"tipo de dato de los elementos del array {input_array.dtype}")
        print(f"Valor minimo: {input_array.min()}")
        print(f"Valor maximo: {input_array.max()}")
        print(f"valor promedio : {input_array.mean()}")
        print(f"suma de los  valores : {input_array.sum()}")

In [ ]:
new_array= np.array([16,25,19,58,22])
get_array_info(new_array)

# **dado un array de dos dimensiones, el valor total de las filas o valor total de las columnas**

In [ ]:
def array_sum(input_array):
    if input_array.ndim != 2:
        print("ERROR: El Array debe tener 2 Dimensiones.")
    else:
        # Variables para almacenar los índices:
        row_index = 0
        col_index = 0
        # Arrays con las sumas de las filas y las columnas:
        row_sum = input_array.sum(axis=1)
        col_sum = input_array.sum(axis=0)
        # Itero el array de suma de filas, para imprimir los valores:
        
        for value in row_sum:
            print(f"Total Fila {row_index}: {value}")
            row_index += 1
        # Itero el array de suma de columnas, para imprimir los valores:
        for value in col_sum:
            print(f"Total Columna {col_index}: {value}")
            col_index += 1

In [ ]:
my_array_2D = np.array([[1, 2, 3],
                           [4, 5, 6],
                           [7, 8, 9]])
array_sum(my_array_2D)

In [ ]:
# np.all()
# Retorna True si todos los elementos del arreglo cumplen con la condición.
# np.any()
# Retorna True si almenos uno de los elementos del arreglo cumple con la condición.
# np.where()
# Retorna un arreglo con los índices de los elementos que cumplen con la condición.

In [ ]:
# new_array=np.array([[12,56,15,45,56],[20,506,25,45,65]])
# print(new_array)
# print(np.all(new_array==12))
# print(np.any(new_array<20))
# fila,columna=np.where(new_array>50)
# print(fila,columna)
# dic_posiciones={}
# contador=0
# new_data=list(zip(fila,columna))
# for values in new_data:
#     dic_posiciones[f"posicion {contador}"]=new_array[values]
#     contador+=1
# print(dic_posiciones)
# def metricaPais(ddatos,dpaises):
#     d_PromediosMetricasPais = {}
#     for pais, ciudades in dpaises.items():

# 		for datos,valores in ddatos.items():						
# 			if datos[0] in ciudades :
# 				d_PromediosMetricasPais[(pais,datos[1])]+=valores

# **Ejericios diapositivas**

In [ ]:
import numpy as np 
lista = [1,2,3,4,5,6,7,8,9]
a = np.array(lista, float)
b = np.array(lista, int)
c = a.reshape(3,3)
tam = c.size
filas = c.shape[0]
cols = c.shape[1]
rank = c.ndim 
tipo = type(c)

In [ ]:
print(tam )
print(filas )
print(cols )
print(rank )
print(tipo )

In [ ]:
m = 2
n = 3
solo_unos = np.ones((m,n))
matriz_nula = np.zeros((m,n), dtype=int)
pasos = np.arange(5)
nuevo = np.arange(0,10,2)
nuevo_2 = np.arange(0,10,.2)
nuevo_2.size

In [ ]:
print(nuevo)
print(nuevo_2)

In [ ]:
#matrices
np_2d=np.array([[  1.73,   1.68,   1.71,   1.89,   1.79],[ 65.4 ,  59.2 ,  63.6 ,  88.4 ,  68.7 ]])

In [ ]:
np_2d[1,:]

array([65.4, 59.2, 63.6, 88.4, 68.7])

In [ ]:
np_2d[:,3]

array([ 1.89, 88.4 ])

In [ ]:
np_2d[:,1:4]

array([[ 1.68,  1.71,  1.89],
       [59.2 , 63.6 , 88.4 ]])

In [ ]:
np_2d>3

array([[False, False, False, False, False],
       [ True,  True,  True,  True,  True]])